
*.pyc
*.png

Results/O16n_t0t3_out/u.dat
Results/O16n_t0t3_out0.6/epsilon.dat
Results/O16n_t0t3_out0.6/f.dat
Results/O16n_t0t3_out/potential.dat
Results/O16n_t0t3_out0.6/potential.dat
Results/O16n_t0t3_out0.6/u.dat
Results/O16n_t0t3_out/epsilon.dat
Results/O16n_t0t3_out/Epsilon_sum.dat
Results/O16n_t0t3_out/f.dat
Results/O16n_t0t3_out/int_rhov.dat
Results/O16n_t0t3_out0.62/f.dat
Results/O16n_t0t3_out0.62/u.dat
Results/O16n_t0t3_out1/data
Results/O16n_t0t3_out1/epsilon.dat
Results/O16n_t0t3_out1/f.dat
Results/O16n_t0t3_out1/potential.dat
Results/O16n_t0t3_out1/u.dat
Results/Output/Kinetics/k_t=0.6800.dat
Results/Output/Kinetics/k_t=1.0600.dat
Results/Output/Kinetics/k_t=1.3400.dat
Results/Output/Kinetics/k_t=1.4100.dat
Results/Output/Kinetics/k_t=1.4200.dat
Results/Output/Kinetics/k_t=1.4300.dat
Results/Output/Kinetics/k_t=1.4400.dat
Results/Output/Kinetics/k_t=1.4500.dat
Results/Output/Kinetics/k_t=1.4600.dat
Results/Output/Kinetics/k_t=1.4700.dat
Results/Output/Kinetics/k_t=1.4800.dat
Results/Output/Kinetics/k_t=1.4900.dat
Results/Output/l_minimization_t=0.6800/epsilon.dat
Results/Output/l_minimization_t=0.6800/potential.dat
Results/Output/l_minimization_t=1.0600/epsilon.dat
Results/Output/l_minimization_t=1.0600/potential.dat
Results/Output/l_minimization_t=1.3400/epsilon.dat
Results/Output/l_minimization_t=1.3400/potential.dat
Results/Output/l_minimization_t=1.4100/epsilon.dat
Results/Output/l_minimization_t=1.4100/f.dat
Results/Output/l_minimization_t=1.4100/potential.dat
Results/Output/l_minimization_t=1.4100/u.dat
Results/Output/l_minimization_t=1.4200/epsilon.dat
Results/Output/l_minimization_t=1.4200/f.dat
Results/Output/l_minimization_t=1.4200/potential.dat
Results/Output/l_minimization_t=1.4200/u.dat
Results/Output/l_minimization_t=1.4300/epsilon.dat
Results/Output/l_minimization_t=1.4300/f.dat
Results/Output/l_minimization_t=1.4300/potential.dat
Results/Output/l_minimization_t=1.4300/u.dat
Results/Output/l_minimization_t=1.4400/epsilon.dat
Results/Output/l_minimization_t=1.4400/f.dat
Results/Output/l_minimization_t=1.4400/potential.dat
Results/Output/l_minimization_t=1.4400/u.dat
Results/Output/l_minimization_t=1.4500/epsilon.dat
Results/Output/l_minimization_t=1.4500/f.dat
Results/Output/l_minimization_t=1.4500/potential.dat
Results/Output/l_minimization_t=1.4500/u.dat
Results/Output/l_minimization_t=1.4600/epsilon.dat
Results/Output/l_minimization_t=1.4600/f.dat
Results/Output/l_minimization_t=1.4600/potential.dat
Results/Output/l_minimization_t=1.4600/u.dat
Results/Output/l_minimization_t=1.4700/epsilon.dat
Results/Output/l_minimization_t=1.4700/f.dat
Results/Output/l_minimization_t=1.4700/potential.dat
Results/Output/l_minimization_t=1.4700/u.dat
Results/Output/l_minimization_t=1.4800/epsilon.dat
Results/Output/l_minimization_t=1.4800/f.dat
Results/Output/l_minimization_t=1.4800/potential.dat
Results/Output/l_minimization_t=1.4800/u.dat
Results/Output/l_minimization_t=1.4900/epsilon.dat
Results/Output/l_minimization_t=1.4900/f.dat
Results/Output/l_minimization_t=1.4900/potential.dat
Results/Output/l_minimization_t=1.4900/u.dat
Results/Output/Potentials/pot_t=0.6800.dat
Results/Output/Potentials/pot_t=1.0600.dat
Results/Output/Potentials/pot_t=1.3400.dat
Results/Output/Potentials/pot_t=1.4100.dat
Results/Output/Potentials/pot_t=1.4200.dat
Results/Output/Potentials/pot_t=1.4300.dat
Results/Output/Potentials/pot_t=1.4400.dat
Results/Output/Potentials/pot_t=1.4500.dat
Results/Output/Potentials/pot_t=1.4600.dat
Results/Output/Potentials/pot_t=1.4700.dat
Results/Output/Potentials/pot_t=1.4800.dat
Results/Output/Potentials/pot_t=1.4900.dat
Results/SkXDensityCa40p/epsilon.dat
Results/SkXDensityCa40p/f.dat
Results/SkXDensityCa40p/potential.dat
Results/SkXDensityCa40p/u.dat
Results/SkXDensityCa40p_0.962/epsilon.dat
Results/SkXDensityCa40p_0.962/f.dat
Results/SkXDensityCa40p_0.962/potential.dat
Results/SkXDensityCa40p_0.962/u.dat
Scaled_Potentials/HO_20_particles/Status.dat
Scaled_Potentials/HO_20_particles/Summary.dat
Scaled_Potentials/HO_20_particles_L=0.62/u.dat
Scaled_Potentials/O16n_t0t3_L=0.6/u.dat
